*{
    margin:0;
    padding:0;
}
/* 去掉所有ul,ol的小圆点 */
ul,ol{
    list-style: none;
}
/* 去掉所有超链接的下划线 */
a{
    text-decoration:none;
}
/*通过继承性，给body标签设置字体*/
body{
    font:normal 14px/25px "微软雅黑";
}

/*头部页面*/
header{

}
header .header-top{
    width: 1200px;
    margin: 0 auto;
    /*清除浮动*/
    overflow:hidden;
}
header .header-top .logo{
    padding-top: 27px;
    width: 221px;
    height: 63px;
    float: left;
}
header .header-top .logo h1{
    width: 221px;
    height: 63px;
    color: #00978E;
    
}
header .header-top .tool{
    width: 266px;
    height: 77px;
    padding-top: 22px;
    float:right;
}
header .header-top .tool .r1{
    margin-bottom: 14px;
}
header .header-top .tool .r1 .tel{
    width:32px;
    height:25px;
}
header .header-top .tool .r1 .telphone{
    font-size: 20px;
    color: #00978E;
    display:inline-block;
    width:158px;
    height:25px;
    text-align:center;
}
header .header-top .tool .r1 .icon{
    width: 24px;
    height:24px;
}
header .header-top .tool .r1 .chinese-icon{
margin-right:10px;

}
header .header-top .tool .r2{
    margin-top: 10px;
    width: 264px;
    height:28px;
    border:1px solid #9999;
}
header .header-top .tool .r2 input{
    float: left;
    width: 224px;
    height:28px;
    border:none;
    padding-left: 20px;
    /*去掉鼠标点击时蓝色框*/
    color: rgba(202,202,202,0.60);
    outline:none;
    font-size:14px;
}
header .header-top .tool .r2 button{
    float: left;
    width: 20px;
    height: 20px;
    /*背景去掉*/
    background: none;
    /*边框去掉*/
    border: none;
    /*去掉鼠标点击时蓝色框*/
    outline:none;
    /*设置鼠标小手状*/
    cursor: pointer;
    position: relative;
    top:4px;
    right:-10px;

   
}

/**导航栏**/
header .main-nav{
    height: 60px;
    background: #00978E;
}
header .main-nav ul{
    width: 1024px;
    text-align: center;
    margin: 0 auto;
}
header .main-nav ul li{
    width: 128px;
    float: left;
  
}
header .main-nav ul li .cur{
    
    background-color: #015E58;
   
}
header .main-nav ul li a{
    color:white;
    font-size: 16px;
    width: 150px;
    height: 60px;
    line-height:60px;
    display: block;
}
header .main-nav ul li a:hover{
    
    background: orange;
}
/**banner区域**/
.banner{
    width: 100%;
    position: relative;
}
.banner .banner-img{
    width: 100%;
}
.banner .content{
    position: absolute;
    width: 1200px;
    height:300px;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-600px;

}
.banner .content h2{
    position: absolute;
    top:50%;
    left:114px;
    width:504px;
    height: 79px;
    margin-top: -50px;
    font-weight: normal;
    font-size:50px;
    color: #015E58;
}
.banner .content .left-btn{
    position: absolute;
    top:50%;
    left:0;
    width: 56px;
    height: 64px;
    margin-top: -37px;
    background-color: rgba(0, 0, 0, 0.3);
}
.banner .content .right-btn{
    position: absolute;
    top:50%;
    right:0;
    width: 56px;
    height: 64px;
    margin-top: -37px;
    background-color: rgba(0, 0, 0, 0.3);
}
.banner .content ol{
    position: absolute;
    width: 120px;
    height: 12px;
    left:50%;
    margin-left:-60px;
    bottom: 20px;

}
.banner .content ol li{
    float: left;
    width:20px;
    height:12px;
    margin-right: 10px;
    background-color: white;   
}
.banner .content ol li:last-child{
    margin-right:0;
}
.banner .content .cur{
    width: 30px;
    background-color: #00978E;
}
/**内容部分**/
.content{
    padding-top: 70px;
}
.content .useful-links{
    width: 906px;
    height: 151px;
    margin: 0 auto;
}
.content .useful-links ul{
    overflow: hidden;
}
.content .useful-links ul li{
    float: left;
    width: 104px;
    margin-right:46px;
}
.content .useful-links ul li span{
    display: block;
    text-align: center;
    color: #333333;
    font-size: 20px;
    line-height: 40px;
}
/**医院动态与公告**/
.content .news-and-notice{
    width: 1200px;
    height: 376px;
    margin: 0 auto;
    padding-top: 56px;
}
.content .news-and-notice .news{
    float: left;
    width: 877px;
    height: 376px;
}
.content .news-and-notice .news h3{
    
    height: 33px;
    margin-bottom: 10px;
}
.content .news-and-notice .news .news-content .hot-news{
    float: left;
    width: 422px;
    height: 328px;
    margin-right: 20px;
    position: relative;
}

.content .news-and-notice .news .news-content .hot-news .info{
    position: absolute;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    line-height: 40px;
}

.content .news-and-notice .news .news-content ul{
    float: left;
    width: 400px;
    
    
}
.content .news-and-notice .news .news-content ul li{
    line-height: 41px;  
}
.content .news-and-notice .news .news-content ul li a{
    float: left;
    color: #666666;
    font-size: 14px;
}
.content .news-and-notice .news .news-content ul li .spec{
    color: #00978E;
    font-weight: bold;
}
.content .news-and-notice .news .news-content ul li span{
    float: right;
}
.content .news-and-notice .notice{
    float: left;
    width: 323px;
    height: 376px;
}

.content .news-and-notice .notice h3{
    
    height: 33px;
    margin-bottom: 10px;
}
.content .news-and-notice .notice ol li{
    overflow: hidden;
    margin-bottom: 11px;
}
.content .news-and-notice .notice ol li .number{
    float: left;
    width: 53px;
    height: 57px;
    background-color: #00978E;
    font-size: 30px;
    color: white;
    line-height: 57px;
    text-align: center;
    margin-right: 9px;
}
.content .news-and-notice .notice ol li dl dt a{
    color: #666666;
}
.content .news-and-notice .notice ol li dl dd a{
    color: #999999;
}