/*
通用样式*/
@font-face{
    font-family:"PingFangSCRegular";
    src:url(../fonts/PingFangSCRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.ttf') format('truetype');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body{
    font-family:"PingFangSCRegular" ;
}
.content-wrap{
    margin:0 auto;
    width: 1152px;
}
.wd{
    text-align: center;
}
.bd{
    display: block;
}
.bid{
    display:inline-block;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix{
    overflow:hidden;
}
.clearfix::after{
    content:'';
    display:block;
    clear: both;
    overflow: hidden;

}