#site-head {
  height: 150px;
  min-width: 1152px;
}

/**一级导航栏-左边-start**/
#site-head .topbar {
  height: 32px;
  background: #2a2a2a;
  color: white;
  line-height: 32px;
}

#site-head .topbar  a {
  color: white;

}
#site-head .topbar .shortcut-links {
  float: left;
}
#site-head .topbar .shortcut-links ul {
}
#site-head .topbar .shortcut-links > ul > li {
  float: left;
  margin-right: 18px;
  font-size: 14px;
}
#site-head .topbar .shortcut-links > ul > li.have-menu {
  padding-right: 12px;
  position: relative;
}
#site-head .topbar .shortcut-links > ul > li.have-menu:hover .arrow {
  transform: rotate(180deg);
}
#site-head .topbar .shortcut-links > ul > li.have-menu .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  transition: transform 0.5s ease 0s;
}
#site-head .topbar .shortcut-links > ul > li.have-menu .arrow b {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 3px;
  background: #fff;
  transform: rotate(45deg);
}
#site-head .topbar .shortcut-links > ul > li.have-menu .arrow i {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0.5px;
  left: 3px;
  background: #2a2a2a;
  transform: rotate(45deg);
}
/*----end-----------/
/**一级导航栏-右边**/
#site-head .topbar .shortcut-right{
    float: right;
    width: 225px;
    
}
#site-head .topbar .shortcut-right a,#site-head .topbar .shortcut-right span {
    margin-right: 12px;
    font-size: 14px;
}

#site-head .topbar .shortcut-right a:last-child{
    margin-right:0;     
}
/*----end-----------/
/**二级导航栏-start**/
#site-head #main-nav{
    height: 40px;
    background-color: #20BD9A;
    color: white;
    
}
#site-head #main-nav .menu-list li a{
  line-height: 40px;
  color: white;
  font-size: 16px;
    
}
#site-head #main-nav .menu-list{
    
}
#site-head #main-nav .menu-list > li{
    float: left;
    margin-right: 18px;
}
#site-head #main-nav .menu-list > li:last-child{
    margin-right: 0;
}
#site-head #main-nav .menu-list .have-menu{
    padding-right: 16px;
    position: relative;
    
}
#site-head #main-nav .menu-list .have-menu::before{
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-bottom: none;
    border-top-color:white;
    transition:transform .5s ease 0s;
    
}
#site-head #main-nav .menu-list .have-menu:hover::before{
    transform: rotate(180deg);
}
/*----end-----------/
/**二级菜单 strat**/
#site-head  .topbar .have-menu .menu{
  position: absolute;
  top: 30px;
  left:0;
  z-index: 9999;
  display: none;  /**隐藏**/
  padding-top: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  padding: 10px;
}
#site-head  .topbar .have-menu:hover .menu{
 display: block;  /**鼠标碰到出现**/
  
}

 #site-head .topbar  .have-menu:hover .menu .menu-list li a:hover{
  color:orange;
   
 }
 #site-head .topbar  .have-menu:hover .menu .menu-list li {
  height: 20px;
  line-height: 20px;
  
 }
#site-head .topbar  .have-menu:hover .menu .menu-list  a{
  font-size: 12px;
  color: #1C1F21;
  line-height: 20px;
   
 }
 #site-head .topbar .shortcut-links .have-menu .community{
  width: 121px;
  height: 168px;
  
} 
#site-head .topbar .shortcut-links .have-menu .shop{
  width: 76px;
  height: 194px;
  
} 
#site-head .topbar .shortcut-links .have-menu .hotelHomestay{
  width: 64px;
  height: 66px;
  
} 

#site-head  #main-nav .have-menu:hover .menu{
 display: block;  /**鼠标碰到出现**/
  
}
#site-head  #main-nav .have-menu .menu{
  position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    padding: 10px;
    display: none;
}
#site-head #main-nav .menu-list li.have-menu .menu dl dt{

  font-size: 16px;
  color: #1C1F21;
}
#site-head #main-nav .menu-list li.have-menu .menu dl dd a{
  font-size: 12px;
  color: #1C1F21;
  line-height: 20px;
  
}
#site-head #main-nav .menu-list li.have-menu .menu dl dd a:hover{
  color: orange;
}
#site-head #main-nav .menu-list .have-menu .free-travel{
  width: 160px;
  height:72px ;
}
#site-head #main-nav .menu-list .have-menu .group{
  width: 106px;
  height:54px ;
}
#site-head #main-nav .menu-list .have-menu .local-fun{
  width: 119px;
  height:80px;
}
#site-head #main-nav .menu-list .have-menu .tourism{
  width: 118px;
  height:72px ;
}
/*----end-----------/
/**search-head 搜索框**/
#site-head #search-head{
    height: 36px;
    padding: 21px 0;
    
}
#site-head #search-head h1{
    float: left;
    color:#20BD9A;
    font-weight: bolder;
    font-size: 24px;
    line-height: 36px;

}
#site-head #search-head .search{
    float: left;
    width:405px;
    padding-top: 2px;
    margin-left: 20px;
}
#site-head #search-head .search input{
    float: left;
   
    width: 361px;
    height: 28px;
     
     border-radius: 4px 0 0 4px;/* 分别按四个角进行设置 */
      
    outline: none;/* 取消默认的外线（外线是文本框特有的东西） */
    border: 1px solid #20BD9A;
    padding-left: 10px;
}
#site-head #search-head .search .btn{
    float: left;
    width: 32px;
    height: 30px;
    background-color:#20BD9A;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
    
}
/**search-head 搜索框--end**/


/**banner-start**/
#banner{
  position: relative;
}
#banner  img{
  width:100%;
  min-width:1152px;
  /*白边处理，垂直居中*/
  vertical-align: middle;
}

#banner .content-wrap{
  /* 只要有压盖，第一时间就要想到绝对定位 */
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  left: 50%;
  margin-left: -576px;
  /* 这里的100%高度绝对不能省略，因为如果省略了，它的height就是0 */
  /* 那么它的子盒子设置16.6%就没有意义了 */
  height: 100%;
 
}
#banner .content-wrap .banner-nav{
  height: 100%;
}
#banner .content-wrap .banner-nav > ul{
  height: 100%;
}
#banner .banner-nav > ul > li{
  height: 16.66%;
  width: 296px;
  background-color: rgba(0,0,0,.53);
  border-bottom:1px solid  #9e9e9e;
  box-sizing:border-box;   /* box-sizing:border-box属性的作用就是让height属性是盒子的总高度，这种情况：在盒子的高度是百分比写的，但是盒子有边框的时候 */
  /* 此时就要让盒子的边框涵盖在height里面，就要使用box-sizing属性 */
}
#banner .banner-nav > ul >li:last-child{
  border-bottom: none;
}
#banner .leftbtn{
  position:absolute;
  width: 28px;
  height: 44px;
  top:50%;
  margin-top:-22px;
  left:-42px;
  background: url(../images/icons.png) no-repeat -21px -94px;
}
#banner .rightbtn{
  position:absolute;
  width: 28px;
  height: 44px;
  top:50%;
  margin-top:-22px;
  right:-42px;
  background: url(../images/icons.png) no-repeat -21px -29px;
}
#banner .leftbtn:hover,#banner .rightbtn:hover{
  opacity: 0.8;
}
#banner .content-wrap .banner-nav ul > li{
  
  position: relative;
 }
#banner .content-wrap .banner-nav ul > li dl{
 color: white;
 position: absolute;
 height:48px;
 top:50%;
 margin-top:-24px;
 left:42px;
}
#banner .content-wrap .banner-nav ul > li dl dt{
  font-size:18px;
  height: 26px;
  line-height: 26px;
}
#banner .content-wrap .banner-nav > ul > li dl dd{
  font-size: 16px;
  line-height: 22px;
  height: 22px;
}
#banner .content-wrap .banner-nav>ul>li::before {
  content: '';
  position: absolute;
  background-image:url(../images/icons.png);
  top: 50%;
  left: 10px;
}
#banner .content-wrap .banner-nav>ul>li.hot::before {
  width: 22px;
  height: 18px;
  background-position: -29px -399px;
  margin-top: -9px;
}
.banner .content-wrap .banner-nav>ul>li.hk::before {
  width: 18px;
  height: 21px;
  background-position: -28px -217px;
  margin-top: -10.5px;
  left: 13px;
}
.banner .content-wrap .banner-nav>ul>li.jp::before {
  width: 24px;
  height: 19px;
  background-position: -25px -171px;
  margin-top: -9.5px;
}
.banner .content-wrap .banner-nav>ul>li.as::before {
  width: 18px;
  height: 19px;
  background-position: -28px -262px;
  margin-top: -9.5px;
  left: 12px;
}
.banner .content-wrap .banner-nav>ul>li.eu::before {
  width: 20px;
  height: 14px;
  background-position: -29px -351px;
  margin-top: -7px;
  left: 11px;
}
.banner .content-wrap .banner-nav>ul>li.au::before {
  width: 18px;
  height: 17px;
  background-position: -28px -305px;
  margin-top: -8.5px;
  left: 12px;
}

/**hot-ad  start**/
#hot-ad{
  margin:32px 0px;
}
#hot-ad ul li{
  float: left;
  width: 264px;
  height: 110px;
  margin-right:32px;
}
#hot-ad ul li:last-child{
  margin-right:0;
}